.imgwidth{
    width:150px;
    height: 150px;
    border-style: ridge;
    border-color: rgb(243, 162, 162);
    float: left;
}
h1{
    text-align: center;
    background-color: rgb(243, 162, 162);
    color:rgb(134, 132, 132);
}
body{
    background:
    radial-gradient(rgb(243, 162, 162) 3px, transparent 4px),
    radial-gradient(rgb(134, 132, 132) 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
.txtcol{
    font-weight: bold;
    color: blue;
    font-size: 30px;
    text-align: center;
}


.buttonCol{
    background-color: black;
    border-color: rgb(243, 162, 162);
}

 .imgtxt{
    text-align: center;
    width:150px;
    position: relative;
    bottom:0;
    font-weight: bold;
    color: blue;
} 

.work {
    position: relative;
    float: left;
    width: 274px;
    overflow: auto;
  }